{% extends 'layout.html.twig' %}

{% block content %}
    <h1 style="color: greenyellow">OKAAY LET'S GOOOOOOOOOOoooooooooooo<span class="terminal-animation">I</span></h1>
    <div class="journey-container d-flex justify-content-around my-5">
        <div class="my-2">
            <img src="/assets/images/maps/{{ startingField.image }}" alt="departure point">
            <div class="d-flex flex-column
                           {% if nextField.id == 2 %}
                                {{ 'mountain-robot' }}
                            {% elseif nextField.id == 3 %}
                                {{ 'desert-robot' }}
                            {% elseif nextField.id == 4 %}
                                {{ 'crevasse-robot' }}
                            {% elseif nextField.id == 5 %}
                                {{ 'glace-robot' }}
                            {% else %}
                                {{ 'complete-robot' }}
                            {% endif %}
                            ">
                {% for equippedAccessory in equippedAccessories %}
                    {% if equippedAccessory.emplacement == 'top' %}
                        <img src="/assets/images/equipments/{{ equippedAccessory.image }}" alt="">
                    {% endif %}
                {% endfor %}
                <img src="/assets/images/equipments/robot_flat.svg" alt="">
                {% for equippedAccessory in equippedAccessories %}
                    {% if equippedAccessory.emplacement == 'bottom' %}
                        <img src="/assets/images/equipments/{{ equippedAccessory.image }}" alt="">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="my-2">
            <img src="/assets/images/maps/{{ nextField.image }}" alt="next destination">
        </div>  
    </div>
    <div class="container">
        <form action="../Result/index" method="post" class="text-center my-2">
            <button class="btn btn-primary">-- RAPPORT DE SITUATION --</button>
        </form>
    </div>
{% endblock %}